[Desktop Entry]
Type=Application
Name=ChromeCast Volume Control
Comment=Control Volume for discovered Chromecasts
Categories=AudioVideo
Icon=multimedia-volume-control
Exec=/home/jem/venv/bin/python -m castvolume.castvolume
#Exec=sh -c "xhost +local:; sudo systemd-nspawn -i /dev/sda3 /home/jem/venv/bin/python /home/jem/CastVolume/castvolume.py; xhost -local:"
Terminal=false
StartupNotify=false
